<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div
      class="container"
      style="background-color: blanchedalmond; height: 650px"
    >
      <h2>portfolio</h2>
      <p class="text-muted" style="font-weight: 700">
        Quick intro about my self
      </p>
      <main style="display: flex">
        <table class="table table-bordered " style="height: max-content ">
          <tbody>
            <tr>
              <td>1</td>
              <td><app-my-name></app-my-name></td>
            </tr>
            <tr>
              <td>2</td>
              <td><app-tech></app-tech></td>
            </tr>
            <tr>
              <td>3</td>
              <td><app-goals-hobbies></app-goals-hobbies></td>
            </tr>
            <tr>
              <td>4</td>
              <td><app-my-year></app-my-year></td>
            </tr>
          </tbody>
        </table>
        <div style="margin: 50px; width: 50%">
          <img  src="G.jpg" width="500px"height="max-content">
      
        </div>
      </main>
    </div>
  </body>
</html>
